<?xml version="1.0" encoding="UTF-8"?>
<DistanceConfiguration>
	<Input>
		<Filename></Filename>
		<Separator></Separator>
	</Input>
	<Output>
		<Filename></Filename>
	</Output>
	<Method>
	
	</Method>
	
	<QuestionList>
		<Question>
      <id>10</id>
      <name>Gretchenfrage</name>
      <scaling>5</scaling>
      <questionWeight>3</questionWeight>
      <distanceWeight>2</distanceWeight>
			
		</Question>
	</QuestionList>
</DistanceConfiguration>